html {
    /* height: 100%; */
}

body {
    background-image: linear-gradient(#FC5E55, #FA4083);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Playfair Display', serif;
    font-size: 1.125rem ;
    color: white;
}

.container {
    width: 1024px;
    /* background-color: rgb(128, 47, 0); */
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    /* background-color: rgb(153, 177, 153); */
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    flex: 2;
}

.navbar {
    flex: 1;
    text-align: center;
    padding-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    /* background-color: rgb(207, 214, 196); */
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

.cards {
    /* background-color: rgb(118, 136, 92); */
    /* min-height: 300px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.card1 {
    /* background-color: rgb(159, 98, 161); */
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

}

.card2 {
    /* background-color: rgb(212, 92, 216); */
    background-image: url(images/image-background-card2.jpg);
    /* background-size: cover; */
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

.card3 {
    /* background-color: rgb(101, 65, 102); */
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

.card1, .card2, .card3{
    padding: 30px 30px 20px 30px;   
    box-sizing: border-box;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.363);
}

h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

/* .cards img{
    /* font-size: 100px; */
/* }  */

.mybutton{
    background-color: white;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    margin-left: 0px;
    padding: 11px 25px;
    display: inline-block;
    border-radius: 12px 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

.mybutton:hover{
    background-color:lightpink;
    color: black;
    transition-duration: 0.3s;
}

.herobox2 img{
    border-radius: 12px;
}

.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.tbox{
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}