/* Global view aka Desktop View */
body{
    font-family: 'Asap', sans-serif;
}

.container{
    /* background-color: aquamarine;     */
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.header-container{
    background-color: #292929;
    min-height: 100px;
    margin-bottom: 40px;
}

header{
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo{
    left: 0%;
    flex: 1;
    /* text-align: center; */
}

.bold{
    font-weight: 700;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
nav a{
    border: 1px solid white;
    padding: 10px 30px ;
}


.col{
     background-color: rgb(223, 101, 107);
    /* min-height: 200px;  */
    width: 30%;
    margin-bottom: 40px;
    
}

.col p{
    color: white;
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.hide-desktop-only{
    display: none;
}

.col p::first-line{
    font-weight: 700;
}   

.col img{
    width: 100%;
    height: auto;
}


/* Tablet view */
@media(max-width: 768px){
    .col{
        width: 45%;
    }
    .hide-desktop-only{
        display: block;
    }
}

/* Mobile view - mostly 360px */
@media(max-width: 400px){
    .col{
        width: 100%;
    }

    .hide-mobile{
        display: none;
    }
}